<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcular Volumen</title>
</head>
<body>
    <h1>{{ titulo }}</h1>
    <form action="{% url 'volumen:mostrar' %}" method="POST">
        {% csrf_token %}
        <div>
            <div>
                <label for="" >Introduzca el diámetro en metros: </label>
                <input type="text" name="diametro" required>
            </div>
            <div>
                <label for="" >Introduzca la altura en metros: </label>
                <input type="text" name="altura" required>
            </div>
        </div>
        <input type="submit" value="Calcular">
    </form>
</body>
</html>